<li class="list-inline-item">
    <a class="link-white" href="https://www.facebook.com/HollowInside316" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-facebook"></i>
        <span class="visually-hidden">Follow Hollow Inside on Facebook</span>
    </a>
</li>
<li class="list-inline-item">
    <a class="link-white" href="https://www.instagram.com/hollowinside316/" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-instagram"></i>
        <span class="visually-hidden">Follow Hollow Inside on Instagram</span>
    </a>
</li>
<li class="list-inline-item">
    <a class="link-white" href="https://twitter.com/HollowInside316" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-twitter"></i>
        <span class="visually-hidden">Follow Hollow Inside on Twitter</span>
    </a>
</li>
<li class="list-inline-item">
    <a class="link-white" href="https://www.tiktok.com/@@hollowinsideofficial" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-tiktok"></i>
        <span class="visually-hidden">Follow Hollow Inside on TikTok</span>
    </a>
</li>
<li class="list-inline-item">
    <a class="link-white" href="https://open.spotify.com/artist/0kTVRkZ7C5XPmnfvtrluEa?si=LLvAxIsMS7OUjLqPQnzVHA&amp;nd=1&amp;utm_medium=organic&amp;_branch_referrer=H4sIAAAAAAAAA72N3QqCMACFn2ZeamklBBJSSYGR%2FUl0E2u6XJvb2o9UT98KeoXgXBzOx8dpjJF6HARaCkPw04dS%2BoxwGkykEpVFJhGy5h4IB9gydraKJc1HAVEKwszlg%2F2fjUTrJqgM0caVHt2XW3qKp8Nj0XLcGcXsHIIo0wREszzv0sdSr3bx%2BnDL78WGv8pF%2Br2CjF0gon%2B4A%2BGIV472PVxDY1WdCHWFnKA3FJteOhkBAAA%3D&amp;product=open&amp;%24full_url=https%3A%2F%2Fopen.spotify.com%2Fartist%2F0kTVRkZ7C5XPmnfvtrluEa%3Fsi%3DLLvAxIsMS7OUjLqPQnzVHA&amp;feature=organic&amp;_branch_match_id=1042606425483017777" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-spotify"></i>
        <span class="visually-hidden">Stream Hollow Inside on Spotify</span>
    </a>
</li>
<li class="list-inline-item">
    <a class="link-white" href="https://music.apple.com/us/artist/hollow-inside/1618067823" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-apple"></i>
        <span class="visually-hidden">Stream Hollow Inside on Apple Music</span>
    </a>
</li>
<li class="list-inline-item">
    <a class="link-white" href="https://music.youtube.com/channel/UCWRd4-GX_uDcw3aTqZP5WOg?feature=share" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-youtube"></i>
        <span class="visually-hidden">Stream Hollow Inside on YouTube Music</span>
    </a>
</li>